praw               
pandas             
numpy              
scikit-learn       
nltk               
textblob           
vaderSentiment     
tensorflow        
matplotlib         
Flask              
dotenv